function withLoader(ComposedComponent) {
  function WithLoaderHOC({ isLoading, ...passThroughProps }) {
    return (
      isLoading ?
        <Loader /> :
        <ComposedComponent {...passThroughProps} />
    );
  }

  WithLoaderHOC.displayName = (
    `WithLoader(${getDisplayName(ComposedComponent)})`
  );

  return WithLoaderHOC;
}

function getDisplayName(ComposedComponent) {
  return (
    ComposedComponent.displayName ||
    ComposedComponent.name ||
    'Component'
  );
}

const TodoListWithLoader = withLoader(TodoList);

const Page = ({ todoListIsLoading }) => (
  <div>
    <TodoListWithLoader isLoading={todoListIsLoading} />
  </div>
);
