<Greet name="varun" />


React.createElement(Greet, { name: 'varun' });


Greet({ name: 'varun' })


function WithFooHOC(props) {
  return createEagerElement(ComposedComponent, {
    foo: 'foo',
    ...props
  });
}

function createEagerElement(Component, props) => {
  if (isReferentiallyTransparent(Component)) {
    return Component(props);
  }
  return <Component {...props} />;
}




//
